<div class="banner">
  <h1>Tribe Member Around The World !</h1>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <h3>Search</h3>
        <p>search by name</p>
          <%= form_tag(tribe_members_path, method: :get) do %>
            <%= text_field_tag(:name, params[:name], required: true, class: "search-form")%>
            <%= submit_tag "Search", class: "btn btn-outline-warning btn-sm search-btn-margin"%>
          <% end %>

        <p>search by surname</p>
          <%= form_tag(tribe_members_path, method: :get) do %>
            <%= text_field_tag(:surname, params[:surname], required: true, class: "search-form")%>
            <%= submit_tag("Search", class: "btn btn-outline-warning btn-sm search-btn-margin")%>
          <% end %>
        <p>search by birthdate</p>
          <%= form_tag(tribe_members_path, method: :get) do %>
            <%= date_select("member_birthdate", "birthdate", start_year: 1500, end_year: Date.current.year, order: [:year, :month, :day]) %>
            <%= submit_tag("Search", class: "btn btn-outline-warning btn-sm search-btn-margin")%>
          <% end %>
        <p>search by ancestor</p>
          <%= form_tag(tribe_members_path, method: :get) do %>
            <%= text_field_tag(:ancestor_name, params[:ancestor_name], required: true, class: "search-form")%>
            <%= text_field_tag(:ancestor_surname, params[:ancestor_surname], required: true, class: "search-form") %>
            <%= submit_tag("Search", class: "btn btn-outline-warning btn-sm search-btn-margin" )%>
          <% end %>
      </div>
    </div>
    <div class="col-6" id="map" style="width: 600px; height: 357px; border-radius: 3px;"></div>
    <script>
      var map = L.map('map').setView([0, 0], 5);
      $.ajax({
        type: "get",
        url: 'geo.geojson',
        dataType: 'json',
        success: function (response) {

          // Empty Layer Group that will receive the clusters data on the fly.
          var markers = L.geoJSON(null, {
            pointToLayer: createClusterIcon
          }).addTo(map);

          // Update the displayed clusters after user pan / zoom.
          map.on('moveend', update);

          function update() {
            if (!ready) return;
            var bounds = map.getBounds();
            var bbox = [bounds.getWest(), bounds.getSouth(), bounds.getEast(), bounds.getNorth()];
            var zoom = map.getZoom();
            var clusters = index.getClusters(bbox, zoom);
            markers.clearLayers();
            markers.addData(clusters);
          }

          // Zoom to expand the cluster clicked by user.
          markers.on('click', function(e) {
            var clusterId = e.layer.feature.properties.cluster_id;
            var center = e.latlng;
            var expansionZoom;
            if (clusterId) {
              expansionZoom = index.getClusterExpansionZoom(clusterId);
              map.flyTo(center, expansionZoom);
            }
          });
          var geojson = response
          var index;
          var ready = false;


          // Initialize the supercluster index.
          index = supercluster({
            radius: 60,
            extent: 256,
            maxZoom: 18
          }).load(geojson.features); // Expects an array of Features.

          ready = true;
          update();





          function createClusterIcon(feature, latlng) {
            if (!feature.properties.cluster) return L.marker(latlng);

            var count = feature.properties.point_count;
            var size =
              count < 100 ? 'small' :
              count < 1000 ? 'medium' : 'large';
            var icon = L.divIcon({
              html: '<div><span>' + feature.properties.point_count_abbreviated + '</span></div>',
              className: 'marker-cluster marker-cluster-' + size,
              iconSize: L.point(40, 40)
            });

            return L.marker(latlng, {
              icon: icon
            });
          }
            }
      });


      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
    </script>
  </div>
  <br>
  <div class="row">
    <div class="col-6 offset-3">
        <div class="row">
          <div class="col-5 offset-2">
            <%= link_to "Add a new member", new_tribe_member_path , class: "btn btn-warning"%>
          </div>
          <div class="col-4">
            <%= link_to "See the stats", tribe_members_show_stats_path , class: "btn btn-warning"%>
          </div>
        </div>
      </div>
    </div>

  <br>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Birthdate</th>
            <th scope="col"></th>
            <th scope="col">Ancestor: </th>
            <th scope="col">Id</th>
            <th scope="col">Name </th>
            <th scope="col"> Surname</th>
          </tr>
        </thead>
        <tbody>
          <% if @search_result == "no result" %>
          <p> No Result for this research</p>
          <% elsif @search_result.present? %>
            <% @search_result.each do |tm| %>
              <tr>
                <td><%= tm.name %></td>
                <td><%= tm.surname %></td>
                <td><%= tm.birthdate %></td>
                <td></td>
                <% if tm.ancestor.present? %>
                  <td><%= tm.ancestor.id %></td>
                  <td><%= tm.ancestor.name %></td>
                  <td><%= tm.ancestor.surname %></td>
                <% end %>
              </tr>
            <% end %>

          <% else %>
            <% @tribe_m.each do |tm| %>
              <tr>
                <td><%= tm.name %></td>
                <td><%= tm.surname %></td>
                <td><%= tm.birthdate %></td>
                <td></td>
                <th scope="row">-</th>
                <% if tm.ancestor.present? %>
                  <td><%= tm.ancestor.id %></td>
                  <td><%= tm.ancestor.name %></td>
                  <td><%= tm.ancestor.surname %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <% if @search_result.present? %>
          <div class="col-6 offset-5">
            <%= link_to 'See all list', tribe_members_path, class: "btn btn-warning"%>
          </div>
        <% else %>
          <div class="col-6 offset-3">
            <%= will_paginate @tribe_m, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
