<div class="banner">
  <h2>Add a new member !</h2>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <%= form_for @tribe_member, url: tribe_members_path(@tribe_member) do |f| %>
          <div class="row">
            <div class="col-6 space-top">
              <%= f.label "Name" %>
            </div>
            <div class="col-6 space-top">
              <%= f.label "surname" %>
            </div>
            <div class="col-6">
              <%= f.text_field :name, required: true%>
            </div>
            <div class="col-6">
              <%= f.text_field :surname, required: true%>
            </div>
            <div class="col-9 space-top">
              <%= f.label :birthdate %>


              <%= f.date_select :birthdate, start_year: 1500, end_year: Date.current.year, order: [:year, :month, :day]%>
            </div>
            <div class="col-6 space-top">
              <%= f.label "Latitude" %>
            </div>
            <div class="col-5 offset-1 space-top">
              <%= f.label "longitude" %>
            </div>
            <div class="col-6 space-top">
              <%= f.text_field :latitude , required: true%>
            </div>
            <div class="col-5 offset-1 space-top">
              <%= f.text_field :longitude , required: true%>
            </div>

            <div class="col-6 space-top">
              <%= f.label :ancestor_name %>
              <%= f.text_field :ancestor_name, required: true %>
            </div>
            <div class="col-5 offset-1 space-top">
              <%= f.label :ancestor_surname %>
              <%= f.text_field :ancestor_surname, required: true %>
            </div>
            <div class="col-5 space-top">
              <%= f.submit "Create member", class: "btn btn-warning btn-custom"%>
            </div>
            <div class="col-5 offset-2 space-top">
              <%= link_to "Back", tribe_members_path, class: "btn btn-warning btn-custom"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
